Package: com.nathanaccidentally.mdnsflush
Name: mDNSFlush
Version: 1.3
Architecture: iphoneos-arm
Pre-Depends: dpkg (>= 1.13.25-5)
Description: A system package for refreshing mDNSResponder.
Maintainer: nathanaccidentally <nathanaccidentally@gmail.com>
Author: nathanaccidentally <nathanaccidentally@gmail.com>
Section: System
